<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @calendar.employee.full_name %>
</p>

<p>
  <strong>Bicycle:</strong>
  <%= @calendar.bicycle.bicycle_type %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @calendar.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @calendar.end_time %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
